/binutils-2.28.tar.bz2
/binutils-2.28/
/build-binutils/
/build-gcc/
/gcc-7.1.0.tar.bz2
/gcc-7.1.0/
/tools/

/echidna.img
/echidnafs/echfs-utils
/kernel/**/*.o
/libc/*.o
/misc/*.o
/shell/*.o
/misc/life
/shell/sh
/kernel/blobs/*.bin
/kernel/echidna.bin
/coreinutils/build/
