/*.tar.bz2
/*.tar.gz
/build-*
/tools/
/toolchain/
/echidnaOS-toolchain/

/echidna.img
/echidna.iso
/initramfs.img
/echidnafs/echfs-utils
/kernel/**/*.o
/kernel/initramfs*
/libc/*.o
/libc/libc
/misc/*.o
/shell/*.o
/misc/life
/shell/sh
/kernel/blobs/*.bin
/kernel/echidna.bin
/bochsout.txt
